<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goldenappstudio.service_app">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BusChooser"></activity>
        <activity android:name=".BusFull" />
        <activity android:name=".BusActivity" />
        <activity
            android:name=".ui.login.BusActivity"
            android:label="@string/title_activity_bus" />
        <activity android:name=".RequestPending" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".GoldenAppStudio" />
        <activity
            android:name=".ServiceProviderList"
            android:parentActivityName=".LocationChooser" />
        <activity
            android:name=".LocationChooser"
            android:parentActivityName=".SubServiceActivity" />
        <activity
            android:name=".BusChooserActivity"
            android:parentActivityName=".TravelActivity" />
        <activity
            android:name=".TravelActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SubServiceActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ServiceProviderProfile"
            android:parentActivityName=".ServiceProviderList" />
        <activity
            android:name=".ServiceProviderRegistration"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Welcome"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>